@charset "ISO-8859-1";

body {
	/* Evita que la página se actualice (en Android) cuando se arrastran las piezas superiores al tablero */
	overscroll-behavior: contain;
} 
	
.container {
	width: 100vw;
	height: 100vh;
} 