@charset "ISO-8859-1";

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	/* Evita que la pagina se actualice (en Android) cuando se arrastran las piezas superiores al tablero */
	overscroll-behavior: contain;
} 

.titulo {
	font-size: 1.5em;
	font-weight: bold;
}	

#contenedor {
	border: 2px solid black;
	padding: 2px;	
	width: 100vw;
	height: 100vh;	
	box-sizing: border-box;
	display: flex;	
}

#panel-tablero {
	width: 70%;
	height: 100%;
	background-color: #FFCC99;
	display: flex;
	justify-content: center;
	align-items: center;
}

#panel-menu {
	width: 30%;
	height: 100%;
	border: 2px solid white;
	box-sizing: border-box;
}

#tablero {
	width: 50%;
}

#menu {
	padding: 5px;
	height: 40%; 	
	width: 100%;
	background-color: yellow;	
	box-sizing: border-box;		
}

#notacion {
	padding: 5px;
	height: 60%;
	width: 100%;
	background-color: red;
	overflow-y: scroll; 
	box-sizing: border-box;
}
