@charset "ISO-8859-1";

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	/* Evita que la pagina se actualice (en Android) cuando se arrastran las piezas superiores al tablero */
 	overscroll-behavior: none; /*  contain; */ 
} 

p {
	margin: 0px .75em;
	display: inline-block;
	font-family: "Trebuchet MS", Verdana, sans-serif;	
}

.titulo {
	margin: 1px 1px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	display: block;
	border: 2px salmon dashed;
}	

#contenedor {
	width: 100vw;
	height: 100vh;	
	display: flex;	
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#paneltablero {
	box-sizing: border-box; 
	border: 2px solid red;
	padding: 2px;
	width: 100vmin;
	height: 100vmin;
	display: flex;
	justify-content: center;
	align-items: center;	
}

#tablero {
	width: 78%; /* max(78%, 78vh); */
}


#panelmenu {
	box-sizing: border-box;
	border: 2px solid black;
	padding: 2px;
	overflow-y: scroll; 
	background-color: #FFCB99;
}

@media screen and (orientation: portrait) { 
	#panelmenu {
		width: 100vw;
		height: calc(100vh - 100vw);
	}
}

@media screen and (orientation: landscape) { 
	#panelmenu {
		width: 30vw;
		height: 100vh;
	}
}

#menu {
	background-color: sandybrown;
}

#menu > div {
	box-sizing: border-box;
	margin: 2px;
	padding: 2px;
	border: 2px;
}



